@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: #363636;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  display: flex;
}

.summary-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  border-radius: 15px;
  border: 0;
  text-align: left;
}

.summary-text {
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
  font-size: 20px;
  border: 3px solid grey;
  border-radius: 10px;
  opacity: 1;
  transition: 0.3s ease-in 0.4s;
}

#text-right {
  float: right;
  margin-left: 70px;
}

#spendings-chart {
  padding-top: 10px;
  padding-left: 30px;
}

.entry-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border: 0;
  margin-top: 15px;
  text-align: left;
  /* border: 2px solid green; */
}

#entry-wrapper {
  height: 55vh;
  background-color: #363636;
  overflow: scroll;
  scrollbar-color: #363636;
  scrollbar-track-color: #363636;
}

#entry-wrapper::-webkit-scrollbar {
  width: 8px;
  scrollbar-color: #363636;
  scrollbar-track-color: #363636;
}

#entry-wrapper::-webkit-scrollbar-track {
  scrollbar-color: #363636;
  scrollbar-track-color: #363636;
}

.entry-form-container {
  width: 1130px;
  /* border: 2px solid red; */
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-right: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.entries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c425f5;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 1100px;
}

.entries:hover {
  opacity: 0.9;
}

.entries p {
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 250px;
  /* border: 2px solid red; */
}

.edit-btn {
  background-color: #af21db;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 7px;
  /* margin-left: 80px; */
  font-size: 18px;
  align-items: flex-end;
  vertical-align: middle;
  cursor: pointer;
}

.edit-btn:hover {
  background: red;
  color: #fff;
  transition: 0.1s ease-in;
}

.delete-btn {
  background-color: #af21db;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 7px;
  margin-left: 20px;
  font-size: 18px;
  align-items: flex-end;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}

.delete-btn:hover {
  background: red;
  color: #fff;
  transition: 0.1s ease-in;
}

.submit-form {
  background-color: #af21db;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 7px;
  margin-left: 10px;
  font-size: 18px;
  align-items: flex-end;
  vertical-align: middle;
  cursor: pointer;
}

.submit-form:hover {
  background: red;
  color: #fff;
  transition: 0.1s ease-in;
}
