<!-- To start Live Server, press Ctrl + Alt + 8 -->
<!-- To stop Live Server, press Ctrl + Alt + Q -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Expense Tracker</title>
  <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/bar-graph-1896511-1605911.png">
  <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

</head>
<body>

  <div class="page-title">
    <h2>Expense Tracker</h2>
  </div>

  <div class="summary-container">
    <div class="summary-text">
      <h3>Monthly Summary</h3>
      <p>Total Spending:<span id=text-right> £{{ account.total_spending }}</span></p>
      <p>Daily Average:<span id=text-right> £{{ daily_avg|floatformat:2 }}</span></p>
      <p>Spending On Track:<span id=text-right> £{{ spendings_track|floatformat:2 }}</span></p>
      <p>Savings On Track:<span id=text-right> £{{ savings_track|floatformat:2 }}</span></p>
    </div>
    <div id="spendings-chart">
      <canvas id="myChart" width="700" height="300"></canvas>

      <script>
        // const x_label = [1,2,3,4,5,6,7];
        const x_label = {{ x_labels|safe }};
        console.log(x_label);
        // const y_label = [35.60, 35.90, 159.99, 46, 23];
        const y_label = {{ y_labels|safe }}
        console.log(y_label);
      </script>
    </div>
  </div>


  <div class="entry-container">
    <div class="entry-form-container">
      <form class="entry-form" method="POST">
        {% csrf_token %}
        {{ form.category }}
        {{ form.amount }}
        {% comment %} {{ form.balance }} {% endcomment %}
        <input class='submit-form' id='submit-entry-btn'type="submit" name="submit-form" value="Submit">
      </form>
    </div>

    {% for entry in entries %}
      <div class="entries">
        <p>{{entry.date}}</p>
        <p>{{entry.category}}</p>
        <p>£{{entry.amount|floatformat:2}}</p>
        {% comment %} <p>£{{entry.balance|floatformat:2}}</p> {% endcomment %}
        <a class="edit-btn">Edit</a>
        <a class="delete-btn" href="{% url 'delete' entry.id %}">Delete</a>
        <!-- </div> -->
      </div>
    {% endfor %}


  </div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
